/* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* Add styles to 'label' selector */
label {
  font-size: 0.85em;
  margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #6f472a;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #e3c9b5;
}

/* Add styles to show 'focus' of selector */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid red;
}

/* Add styles to the submit button */
input[type="submit"] {
  background: #e1b382;
  margin: 0 auto;
  outline: 0;
  color: white;
  border: 0;
  padding: 12px 24px;
  border-radius: 4px;
  transition: all ease-in-out 0.1s;
  position: relative;
  display: inline-block;
  text-align: center;
}

/* Add styles for 'focus' property */
input[type="submit"]:focus {
  color: whitesmoke;
}

/* Style 'hover' property */
input[type="submit"]:hover {
  background: #c89666;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
  text-align: center;
}
